.matches_display {
  border-right: 1px solid #d2dbdf;
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 0.5rem;
  position: relative;
  padding: 20px;
}
.matches_display .card {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 150px;
  border-radius: 10px;
  border: 4px solid #e6af16;
  opacity: 0.9;
  filter: grayscale(100%);
}
.matches_display .card:hover {
  opacity: 1;
  cursor: pointer;
  filter: grayscale(20%);
}
