@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}
/* animation */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* Root */
:root {
  --asideW: 27%;
  --CardW: 73%;
}
/* body */
body {
  text-align: center;
}
h2 {
  font-style: italic;
}
.primary_button {
  color: white;
  text-transform: uppercase;
  background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
  font: 15px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
.primary_button:hover {
  background: linear-gradient(260deg, rgb(254, 48, 114), rgb(255, 89, 64));
}

.secondary_button {
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: 2px solid rgb(121, 119, 119);
  margin: 6px;
  cursor: pointer;
}
.secondary_button:hover {
  color: rgb(48, 48, 48);
  border: 2px solid rgb(48, 48, 48);
}
.primary_title {
  font-size: 90px;
  color: white;
}
/* -------- Navbar ---------- */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo_container {
  width: 170px;
  margin: 15px;
}
nav .logo_container .logo {
  width: 100%;
}
nav .nav_button {
  color: rgb(254, 48, 114);
  background: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
}
nav .nav_button:disabled {
  background-color: rgb(189, 180, 180);
  color: rgb(160, 38, 75);
}
/* Home */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.85), rgb(0, 0, 0, 0)),
    url("./images/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  place-items: center;
}
.home .primary_title {
  margin-bottom: 10px;
}
.home .primary_button {
  height: 55px;
  width: 260px;
}
/* ------- auth_Modal -----  */
.auth_Modal {
  position: absolute;
  top: 0;
  bottom: 0;
  /* top: 175px; */
  right: 0;
  left: 0;
  margin: auto;
  max-width: 360px;
  height: 600px;
  padding: 40px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
}
.auth_Modal .closeBtn {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
}
.auth_Modal .closeBtn svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: #d4d8de;
}
.auth_Modal .closeBtn svg:hover {
  fill: #656e7b;
}
.auth_Modal .terms {
  margin-top: 20px;
  color: rgb(121, 119, 119);
  margin-bottom: 28px;
  font-size: 12px;
}
.auth_Modal form {
  display: flex;
  flex-direction: column;
}
.auth_Modal form input {
  padding: 8px;
  margin: 8px 0;
  font-size: 17px;
  border: none;
  outline: none;
  border: 2px solid gainsboro;
  border-radius: 5px;
}
.auth_Modal form input::placeholder {
  text-transform: capitalize;
  color: rgb(189, 180, 180);
}
.auth_Modal .Google_signIn {
  width: 268px;
  display: flex;
  height: 47px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 25px;
}
.auth_Modal .Google_signIn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.auth_Modal hr {
  margin: 30px 0;
}
.auth_Modal .app_logos {
  display: flex;
  align-items: baseline;
  margin-top: 25px;
}
.auth_Modal .app_logos a {
  display: grid;
  place-items: center;
}
.auth_Modal .app_logos img {
  width: 100%;
}
